.red {
    color: #b71c1c;
    font-weight: bolder;
}

.underline {
  text-decoration: underline;
}

h1 {
  margin-bottom: 50px;
}

h2 {
  font-size: 140%;
  margin-bottom: 35px;
}

h3 {
  margin-bottom: 25px;
}

h1, h2 {
  text-transform: uppercase;
}

.uppercase-text {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 110%;
}

div.wy-nav-content {
  max-width: 1000px;
}

div.document  div.section {
  margin-bottom: 50px;
}

footer {
  margin-top: 75px;
}

span.darkmode {
  float: left;
  color: #2980B9;
}

div.toctree-wrapper ul li.toctree-l1 {
  list-style: none;
  margin-left: 0px;
}

/* tabs & table */
div.sphinx-tabs:last-child {
  margin-bottom: 2em;
}

table.field-list.docutils {
  width: 100%;
}

/* img */
div.figure.align-center p.caption {
  float: right;
}

div.figure.align-center {
  margin-bottom: 50px;
}

/* admonition */
div.rst-content .admonition {
  overflow-x: auto;
}


div.wy-menu-vertical p.caption {
  color: #2980B9;
}

div.highlight {
  background: #f0f0f0;
}
