body.wy-body-for-nav {
  background: #343131;
}

.red {
    color: #b71c1c;
}

h1 {
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 35px;
}

h3 {
  margin-bottom: 25px;
}

h1, h2 {
  text-transform: uppercase;
}

div.wy-nav-content {
  background: #343131;
  max-width: 1000px;
}


section.wy-nav-content-wrap {
  background: #343131;
}

div.admonition {
  color: #000;
}


body {
  color: #fff;
}

div.wy-nav-content a:visited {
    color: #2980B9;
}


div.rst-content table.docutils thead {
  color: #fff;
}
div.rst-content table.docutils td, div.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
  background: #343131;
}



/* .wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, div.wy-table-responsive table.docutils:not(.field-list) tr:nth-child(2n-1) td {
  background: #343131;
} */

code.docutils.literal {
  background: #000;
  color: #fff;
}

div.ui.tabular.menu .active.item {
  background: #343131;
}

/* div.ui.tabular.menu div[class^="highlight"] {

  background: #343131;
} */

div.sphinx-tab.tab.active {
  background: #343131;

}

div.sphinx-tabs:last-child {
  margin-bottom: 2em;
}

table.field-list.docutils {
  width: 100%;
}

footer {
  margin-top: 75px;
}


div.figure.align-center p.caption {
  float: right;
}

div.figure.align-center {
  margin-bottom: 50px;
}

.uppercase-text {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 110%;
}

div.rst-content .admonition {
  overflow-x: auto;
}

div.rst-content .error .admonition-title {
  background: #b71c1c;

}
div.rst-content .note .admonition-title {
  background: #2980B9;

}

div.rst-content .error {
  background: #fcfcfc;
}

div.document  div.section {
  margin-bottom: 50px;
}
